<h2>Flights</h2>

<table>
  <tr>
    <th>Flight Number</th>
    <th>Date</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Plane</th>
  </tr>
  {{#each flights}}
  <tr data-id={{id}}>
    <td>{{flight_number}}</td>
    <td>{{date}}</td>
    <td>{{origin}}</td>
    <td>{{destination}}</td>
    <td>{{plane_id}}</td>
  </tr> 
  {{/each}}
</table>